{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVERMAXX</title>
    <link rel="icon" href="{% static 'mmm.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'max.css' %}" type="text/css">
</head>
<body>
    <h1>S E R V E R </h1> <h1> M A X X </h1><br>
    <h2>ВХОД</h2>
    <form method="post" action="">
        <input name="login" placeholder="Логин"><br><br>
        <input name="pass" placeholder="Пароль"><br><br>
        <button>Отправить</button>
    </form>
</body>
</html>